$dark: #424652;
$light: #9a9da4;
$white: #FFFFFF;
$highlight: #8bc6db;
$border: #E9E9E9;
$main: #007F7B;

$highlight_1: #fd7473;
$highlight_2: #f3c951;
$highlight_3: #47b8e0;
$highlight_4: #9f68d0;

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	h1 {
		text-align: center;
	}
}

.border {
	height: 6px;
	border: 0;
	background-color: $highlight_1;
	background-image: 
		linear-gradient(
			to right,
			$highlight_1,
			$highlight_1 25%,
			$highlight_2 25%,
			$highlight_2 50%,
			$highlight_3 50%,
			$highlight_3 75%,
			$highlight_4 75%,
			$highlight_4 100%,
			$highlight_4 100%
			);
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
	background-size: 50% 100%;	
}

.logo {
	margin-left: 40%;
	width: 100%;
	max-width: 15em;
	cursor: pointer;
	a {
		text-decoration: none;
		color: $main;
		&:hover {
			cursor: pointer;
			color: $highlight;
		}
	}
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper_skinny {
	width: 90%;
	padding-top: 2em;
	margin: 0 auto;
}

.row {
	padding: 2em 0;
	width: 100%;
	.column {
		width: 20%;
		float: left;
		margin-left: 3%;
	}
	.column-body {
		width: 50%;
		float: left;
		margin-left: 3%;
		h3 {
			text-align: center;
		}
		p {
			font-family: 'Raleway', sans-serif;
			font-size: 1em;
			font-weight: 500;
			margin: 0 auto;
		}
	}
}

.twitter-mention-button {
	text-align: center;
	margin-left: 3.25em;
}

.wrapper_skinny {
	width: 90%;
	padding-top: 2em;
	margin: 0 auto;
	strong {
		font-size: 1em;
	    color: $dark;
	    text-transform: uppercase;
	    font-weight: 700;
	    letter-spacing: 2px;
	    display: block;
	}
	h5, a {
		text-decoration: none;
		color: $dark;
		cursor: pointer;
		font-size: 1em;
    	font-weight: 700;
    	line-height: 1.5em;
		&:hover {
			color: $highlight;
		}
	}
}

.img-row {
	padding: 2em 0;
	width: 100%;
	cursor: pointer;
	.col-thumbnail {
		width: 28.67%;
		float: left;
		margin-left: 3%;
		img {
			width: 100%;
			height: auto;
		}
		&:hover {
			img {
				opacity: .8;
			}
		}
	}
	strong {
		font-size: 1em;
		margin-top: .75em;
	    font-weight: 700;
	    line-height: 1em;
	    font-family: 'Raleway', sans-serif;
	}
}

.img-thumbnail {
	padding: 5px;
	display: inline-block;
    height: auto;
    max-width: 100%;
    border: 1px solid #eceae4;
    cursor: pointer;
    img {
    	width: 181px;
    	height: 125px;
    }
    &:hover {
		img {
			opacity: .8;
		}
	}
}

#wrapper_padding {
	padding-bottom: 2.75em;
}



.footer-agile-info {
    padding: 5em 0;
    background: #212121;
}

.footer-agile-info h3,h2 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
	    margin-bottom: 30px;
}

.footer-agile-info p {
    font-size: 14px;
    color: #bebebe;
    line-height: 28px;
    margin: 8px 0;
}

.footer-agile-info p a {
    color: #bebebe;
	text-decoration:none;
}

.footer-agile-info p a:hover{
    color: $highlight;
}

.w3-agile input[type="email"] {
    outline: none;
    padding: 10px;
    width: 73%;
    background: #fff;
    border: none;
    border-radius: 0;
    font-size: 14px;
    color: #212121;
}

.w3-agile input[type="submit"] {
    outline: none;
    padding: 9px 0;
    width: 35%;
    background: $highlight;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    /* font-weight: 600; */
    border: 1px solid $highlight;
}

.w3-agile input[type="submit"]:hover {
    border:1px solid $highlight;
	background:none;
	 color: $highlight;
}
/*-- copyright --*/

.container {
	width: 84%; 
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .col-md-4 {
    	width: 33.33333333%;
    	display: table-cell;
	}
}

.copyright{
    padding: 2em 0;
    background: #000;
    text-align: center;
}
.w3agile-list ul{
	margin:0;
	padding:0;
}
.w3agile-list ul li{
    display: inline-block;
    margin: 0 2em;
}
.w3agile-list ul li a {
    color: #bebebe;
    font-size: 18px;
    text-decoration: none;
}
.w3agile-list ul li a:hover{
	color:$highlight;
}
.agileinfo p {
    color: #bebebe;
    font-size: 16px;
    margin: 2em 0 0 0;
}
.agileinfo p a{
	color: $highlight;
}
.agileinfo p a:hover{
    color: #fff;	
}

.w3layouts-footer {
    padding: 0;
    i {
    	color: $white;
    	display: inline-block;
    	text-rendering: auto;
    	font-size: 1.25em;
    }
    span {
    	margin-right: .75em;
    }
}

.wthree-footer {
    padding: 0;
}

.w3-agile {
    padding: 0;
}